.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.cursor-pointer {
  cursor: pointer !important;
}

.app-button {
  background-color: #15a5cc !important;
  color: white;
  border-radius: 12px;
  line-height: 16px;
  transition:all 0.3s ease-out;
}


.control-btn {
  cursor: pointer;
  padding: 8px 10px;
  background-color: #eff3f6;
  border-radius: 3px;
  transition: all 300ms ease;
  user-select: none;
}

.control-btn:hover {
  background-color: #e0e0e0;
}

.control-btn img {
  width: 20px;
}

.control-btn-selected {
  background-color: #15a5cc;
  color: white;
  font-weight: bold;
}

.control-btn-selected:hover {
  background-color: #5cb7d0;
  color: white;
  font-weight: bold;
}
